@media only screen and (min-width: 0px) and (max-width: 400px) {
    .navmargin {
        margin-top: 5rem;
    }

    .wetxt {
        float: right;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        width: 90%;
    }

    .txt1 {
        margin-left: .5rem;
        margin-left: auto;
    }

    .head1 {
        float: left;
        padding-top: 2rem;
        color: white;
        margin-top: 1rem;
        padding-left: 6rem;
        width: 100%;
        height: 90vh;
    }

    .cont {
        display: grid;
        grid-template-columns: auto;
    }

    .footdiv {
        display: grid;
        grid-template-columns: auto;
        width: 50%;
        text-align: center;
        position: relative;
        margin: auto;
        gap: 1rem;
    }

    .navbar {
        height: 80px;
    }

    .navbar img {
        z-index: 1000;
        height: 53px;
        width: 58px;
        margin-top: 5%;
        margin-left: 1rem;
    }

    .navbar-toggler span {
        color: white;
        font-size: 1.5rem;
        margin-right: .8rem;
    }

    .navbar .nav-item {
        font-size: 1rem;
        margin-top: 0%;
        z-index: 1000;
        background: #F79321;
        padding-left: 1rem;
    }

    .navbar-toggler:focus {
        border: 0 !important;
        box-shadow: none !important;
    }

    .navbar-toggler {
        border: 0 !important;
    }

    .mistab,
    .strat,
    .value {
        margin-top: .8rem;
    }

    .memimgs {
        display: grid;
        grid-template-columns: auto auto;
    }

    .memimgs img {
        padding: .5rem;
        width: 150px;
    }

    .members {
        width: 85%;
        align-items: center;
        position: relative;
        margin: auto;
    }

    .partner .contact {
        width: 95%;
    }

    .focus1 {
        width: 95%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .foctxt p {
        margin-top: 0;
    }

    .foctxt h3 {
        color: white;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .foctxt h5 {
        color: #ABFF00;
        font-size: 1rem;
        font-weight: 450;
        margin-top: 4rem;
    }

    .feed .links {
        overflow: auto;
        /* float: left; */
        height: auto;
        position: relative;
        margin-left: .2px;
        padding: 1rem;
        width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 650px) {
    .partner .contact {
        width: 95%;
    }

    .navmargin {
        margin-top: 5rem;
    }

    .feed .links {
        overflow: auto;
        /* float: left; */
        height: auto;
        position: relative;
        margin-left: .2px;
        padding: 1rem;
        width: 100%;
    }

    .foctxt p {
        margin-top: -3rem;
    }

    .cont {
        display: grid;
        grid-template-columns: auto;
    }

    .focus1 {
        width: 95%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .footdiv {
        display: grid;
        grid-template-columns: auto;
        width: 50%;
        text-align: center;
        position: relative;
        margin: auto;
        gap: 1rem;
    }

    .navbar {
        height: 80px;
    }

    .navbar img {
        z-index: 1000;
        height: 53px;
        width: 58px;
        margin-top: 5%;
        margin-left: 1rem;
    }

    .navbar-toggler span {
        color: white;
        font-size: 1.5rem;
        margin-right: .8rem;
    }

    .navbar .nav-item {
        font-size: 1rem;
        margin-top: 0%;
        z-index: 1000;
        background: #F79321;
        padding-left: 1rem;
    }

    .navbar-toggler:focus {
        border: 0 !important;
        box-shadow: none !important;
    }

    .navbar-toggler {
        border: 0 !important;
    }

    .mistab,
    .strat,
    .value {
        margin-top: .8rem;
    }

    .memimgs {
        display: grid;
        grid-template-columns: auto auto;
    }

    .memimgs img {
        padding: .5rem;
        width: 150px;
    }

    .txt1 {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1020px) {
    .navmargin {
        margin-top: 5rem;
    }

    .head1 {
        float: left;
        padding-top: 2rem;
        color: white;
        margin-top: 1rem;
        padding-left: 6rem;
        width: 100%;
        height: 90vh;
    }

    .cont {
        display: grid;
        grid-template-columns: auto;
    }

    .footdiv {
        display: grid;
        grid-template-columns: auto;
        width: 50%;
        text-align: center;
        position: relative;
        margin: auto;
        gap: 1rem;
    }

    .navbar {
        height: 80px;
    }

    .navbar img {
        z-index: 1000;
        height: 53px;
        width: 58px;
        margin-top: 5%;
        margin-left: 1rem;
    }

    .navbar-toggler span {
        color: white;
        font-size: 1.5rem;
        margin-right: .8rem;
    }

    .navbar .nav-item {
        font-size: 1rem;
        margin-top: 0%;
        z-index: 1000;
        background: #F79321;
        padding-left: 1rem;
    }

    .navbar-toggler:focus {
        border: 0 !important;
        box-shadow: none !important;
    }

    .navbar-toggler {
        border: 0 !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 321px) {
    .card iframe {
        height: 142px;
        object-fit: cover;
    }

    .main1 {
        background: linear-gradient(to left, rgba(15, 103, 0, 1) 20%, rgba(0, 0, 0, .4)), url('static/images/tomatoes.jpg');
        background-size: cover;
        height: 130vh;
        object-fit: cover;
        padding: 1rem;
    }

    .wetxt {
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
        float: unset;
    }

    .westxt {
        text-align: center;
        color: #646464;
        width: 90%;
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 322px) and (max-width: 381px) {
    .card iframe {
        height: 173px;
        object-fit: cover;
    }

    .westxt {
        text-align: center;
        color: #646464;
        width: 90%;
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 381px) and (max-width: 426px) {
    .card iframe {
        object-fit: cover;
        height: 195px;
    }

    .wetxt {
        float: right;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        width: 90%;
    }

    .westxt {
        text-align: center;
        color: #646464;
        width: 90%;
    }

    .txt1 {
        position: relative;
        margin: auto;
    }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
    .card iframe {
        object-fit: cover;
        height: 177px;
    }

    .wetxt {
        float: right;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 6rem;
        width: 50%;
    }

    .westxt {
        width: 50%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .expt {
        width: 90%;
    }

    .card iframe {
        object-fit: cover;
        height: 243px;
    }

    .wetxt {
        float: right;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 6rem;
        width: 50%;
    }

    .westxt {
        text-align: center;
        color: #646464;
        width: 40%;
    }
}

/* This is to order work grid */
@media (max-width: 766px) {


    .worktxt {
        display: table;
    }

    .grat {
        display: table-footer-group;
    }

    .wrtxt {
        display: table-header-group;
    }

    .worktxt {
        display: flex;
    }

    .grat {
        order: 1;
    }

    .wrtxt {
        order: 2;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .worktxt .grat img{
        max-width: 100%;
    }
}