.container {
    display: flex;
    width: 250px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 8px;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
}

.circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(#ededed 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: goldenrod;
}

.text {
    font-size: 1rem;
    font-weight: 300;
    color: #606060;
}