.logging {
    background: none;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logging .card{
    color: white;
    background: rgba(96, 102, 131, 0.685);
}